In [1]:
import pandas as pd
import json

In [2]:
df=pd.read_csv('EMT.csv',delimiter=',')
df = df[['IDESTACION','X','Y','DENOMINACION','LINEAS','ACONDICIONAMIENTOVIAJEROS']]
df

,IDESTACION,X,Y,DENOMINACION,LINEAS,ACONDICIONAMIENTOVIAJEROS
0,6_3061,445669.0,4471747.0,AV.PABLO NERUDA-MALGRAT MAR,"54, 142, 144",2
1,6_3065,446155.0,4471557.0,SAN CLAUDIO-RAFAEL FERNANDEZ,54,2
2,6_3007,439614.0,4483041.0,CERRO DEL CASTAÑAR-MORALZARZAL,134,2
3,6_3066,446036.0,4471456.0,ANDALUCES-SAN CLAUDIO,54,2
4,6_2948,442127.0,4468163.0,CTRA.VILLAVERDE A VALLECAS-AV.ROSALES,"23, 130",2
...,...,...,...,...,...,...
4817,6_6738,442762.0,4475254.0,ÁREA INTERMODAL FELIPE II,"15, C1, N3",1
4818,6_6808,440729.0,4475552.0,BARCELÓ-TRIBUNAL,149,1
4819,6_6815,450250.0,4478886.0,CORBETA-LA RIOJA,"112, 115, 151, 166, N4",1
4820,6_6816,450241.0,4478878.0,CORBETA-LA RIOJA,"112, 115, 151, 166, N4",1
4821,6_6814,453538.0,4472599.0,ALCALDE ANDRÉS MADRID DÁVILA-CASA DE TILLY,N6,1

In [9]:
import utm

def convert_utm_to_latlon(x, y, zone_number, northern=True):
    try:
        lat, lon = utm.to_latlon(x, y, zone_number=zone_number, northern=northern)
        return lat, lon
    except utm.OutOfRangeError as e:
        print(f"Error: {e}")
        return None, None

# Example usage:
# Assuming you have a DataFrame df with columns X and Y
df['latitude'], df['longitude'] = zip(*df.apply(lambda row: convert_utm_to_latlon(row['X'], row['Y'], zone_number=30), axis=1))

# Now df will have additional columns 'latitude' and 'longitude'
df = df[['IDESTACION','latitude','longitude','DENOMINACION','LINEAS','ACONDICIONAMIENTOVIAJEROS']]

Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)
Error: easting out of range (must be between 100,000 m and 999,999 m)

In [11]:
df.to_csv('EMT_map.csv')